body {

background-color: rgb(156, 145, 145);

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #968c8ca4; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(99, 98, 98, 0.658); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .plate {

    background-color: white;
    border-radius: 10px;
    width: 1250px;
    height: 500px;
    box-shadow: 10px 10px 5px 5px rgba(128, 128, 128, 0.404);
    float: center;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 10px;
    
    }

    .title {

        margin-left: 30px;
        margin-top: 30px;
        font-size: 40px;
        font-family: Montserrat;
        font-weight: bold;
        
        }
        
        .join {
        
            font-size: 25px;
            font-family: Montserrat;
            font-weight: 600;    
        
        }
        
        .subtitle {
        
            font-size: 20px;
            font-family: Montserrat;
            font-weight: 600;    
            margin-left: 50px;
        
        }

        .extra-subtitle {
        
            font-size: 18px;
            font-family: Montserrat;
            font-weight: 600;    
            margin-left: 50px;
            margin-bottom: 20px;
        
        }
        
        .button {
        
        border-radius: 50px;
        background-color: darkgrey;
        font-size: 15px;
        padding: 10px;
        margin-left: 50px;
        border-color: rgba(255, 255, 255, 0);
        font-family: Nunito;
        font-weight: bold;
        transition: background-color 2s ease-out 100ms;
        transition: color 2s ease-out 100ms;
        color: black;
        
        }
        
        .button:hover {
        
            border-radius: 50px;
            font-size: 15px;
            padding: 10px;
            margin-left: 50px;
            background-color: rgb(71, 71, 71);
            border-color: rgba(255, 255, 255, 0);
            font-family: Nunito;
            font-weight: bold;
            color: white;
            
            }

            .side-photo {

                width: 650px;
                height: 450px;
                float: right;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
            .effect {
            
                animation: transitionIn 1.5s;
            
            }
            
            @keyframes transitionIn {
            
            from {
            
            opacity: 0;
            transform: rotateX(-10deg);
            
            }
            
            to {
            
                opacity: 1;
                transform: rotateX(0deg);
            
            }
            
            }
            